@import "../_variables";
.container {
    display: flex;
    flex-direction: row;
    
    .page-header {
        color: black;
        font-weight: 500;
        font-size: 20px;
        margin-block: 6px;
    }
    .page-header.indiv {
        margin-bottom: 20px;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 40%;
        padding-inline: 6rem;
        & > div{
            width: 100%;
        }
        
        input:not([type="checkbox"]) {
            font-size: 14px;
            width: 100%;
        }
        .content-header {
            text-align: center;
            margin-bottom: 2rem;
        }
        .content-body {
            padding-inline-end: 2.5rem;
            .content-body-wrapper {
                .alert {
                    align-items: center;
                    display: flex;
                    gap: 1rem;
                    justify-content: center;
                    margin-inline: auto;
                    margin-block: 1rem;
                    padding: 11px 2rem;
                    text-align: center;
                    width: fit-content;
                    color: #72767b;
                    svg {
                        flex-shrink: 0;
                        width: 22px;
                        height: 22px;
                    }
                }

                .alert.error {
                    border: 1px solid #cc0000;
                    svg {
                        fill: #cc0000;
                    }
                }
                .alert.warning {
                    border: 1px solid #ec7a08;
                    background-color: #fdf2e5;
                    svg {
                        fill: #ec7a08;
                    }
                }
                .alert.success {
                    border: 1px solid #3f9c35;
                    background-color: #e9f4e9;
                    svg {
                        fill: #3f9c35;
                    }
                }
            }
        }
    }
    .imageContainer {
        overflow: hidden;
        min-height: 100vh;
        width: 60%;
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 2;
        }
    }
}

.kc-info{
    margin-top: 2rem;
}
@media (max-width: 950px) {
    .container {
        .imageContainer {
            display: none;
        }
        .content {
            > div {
                width: 90%;
            }
        }
    }
}
