@import '../../../_variables';


.input-group {
    margin-bottom: 12px;
    label {
        color: $label-color;
    }
}
.label-tooltip {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}