$primary-color: #eb6d3b;
$primary-color-dark: #d25929;
$primary-color-light: #fef5f1;
$secondary-color: #c6c6c6;
$secondary-color-light: #2632380D;
$border-radius: 10px;
$label-color: #414042;
$gray-900: #263238;